body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74ABE2, #5563DE);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

}

.weatherForm {
    margin: 20px;
}

.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.299);
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgba(0, 0, 255, 0.735);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: blue;
}

.card {
    background: linear-gradient(180deg, blue, orange);
    padding: 50px;
    box-shadow: 2px 2px 5px black;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-top: 25px;
}

.humidityDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}
